{% extends "venvmanager/base.html" %}

{% block content %}
<div class="page-header">
  <h1>Package: {{ package.name }}</h1>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-zebra table-bordered">
        <colgroup>
            <col>
            <col style="width:150px;">
            <col style="width:100px;">
        </colgroup>
        <thead>
            <tr>
                <th>Version</th>
                <th>Virtual Env</th>
                <th>Serveur</th>
            </tr>
        </thead>
        <tbody>
            {% for version in package.versions.all %}
                <tr>
                    <td>{{ version.name }}</td>
                    <td>{{ version.venv.name }}</td>
                    <td>{{ version.venv.server.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}

