{% extends "venvmanager/base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
  <h1>Server {% if server %}Edition{% else %}Creation{% endif %}</h1>
</div>

<div class="row">
  <div class="span12">
    <form class="" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        {% include "venvmanager/_form_field.html" %}
      {% endfor %}

      <div class="actions">
        <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
        {% if server %}
        <a href="{% url server-detail server.id %}" class="btn">{% trans "Cancel" %}</a>
        <a href="{% url server-delete server.id %}" class="btn danger">{% trans "Delete" %}</a>
        {% else %}
        <a href="{% url servers %}" class="btn">{% trans "Cancel" %}</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock content %}

