{% extends "venvmanager/base.html" %}

{% block content %}
<div class="page-header">
  <h1>Virutal Environment: {{ virtualenv.name }}</h1> {{ virtualenv.full_name }} <a href="{% url venv-update virtualenv.id %}" class="btn pull-right">Edit</a>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-zebra table-bordered">
        <colgroup>
            <col>
            <col style="width:150px;">
            <col style="width:100px;">
        </colgroup>
        <thead>
            <tr>
                <th>Package</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for version in virtualenv.version_set.all %}
                <tr>
                    <td>{{ version.package.name }}</td>
                    <td>{{ version.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url venv-remote-check %}" class="btn primary">Check the virtual env</a>
  </div>
</div>

{% endblock content %}

